transformers[torch]
accelerate
bitsandbytes
cchardet
chardet
contourpy
cycler
fonttools
frozenlist
importlib-resources
kiwisolver
matplotlib
multidict
openai
packaging
psutil
pycocotools
pyparsing
python-dateutil
pyyaml
regex
tokenizers
tqdm
timm
spacy
scikit-learn
scipy
yarl
zipp
omegaconf
opencv-python
iopath
decord
tenacity
peft
pycocoevalcap
sentence-transformers
umap-learn
notebook
wandb
einops
SentencePiece
ftfy
pytorchvideo
audiocraft
aeiou
alias-free-torch
auraloss
descript-audio-codec
einops
einops-exts
ema-pytorch
encodec
gradio
huggingface_hub
importlib-resources
k-diffusion
laion-clap
local-attention
pandas
pedalboard
prefigure
PyWavelets
safetensors
sentencepiece
s3fs
tqdm
v-diffusion-pytorch
vector-quantize-pytorch
wandb
webdataset
x-transformers
moviepy
